body,h1,h2,h3,h4,p,dl,dt,dd{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border:none;
}
html{
    width: 100%;
    overflow-x:hidden;
}
body{
    background-color: #000;
    font-family: "微软雅黑";
    color:#fff; 
}
.clear:after,.center:after{
    clear:both;
    content:'';
    display:block;
}
.center{
    width: 960px;
    margin: 0 auto;
}
@keyframes shake{
    0%{
        margin:0px 0 0 0px;
    }
    10%{
        margin:-40px 0 0 -40px;
    }
    15%{
        margin:-40px -40px 0 0px;
    }
    20%{
        margin:0px -40px -40px 0;
    }
    25%{
        margin:0 0 -40px -40px;
    }
    30%{
        margin:-20px 0 0 -20px;
    }
    40%{
        margin:-20px -20px 0 0 ;
    }
    50%{
        margin:0 -20px -20px 0px;
    }
    60%{
        margin:0px 0 -20px -20px;
    }
    70%{
        margin:-10px 0 0 -10px;
    }
    80%{
        margin:-10px -10px 0 0px;
    }
    90%{
        margin:0px -10px -10px 0;
    }
    100%{
        margin:0 0 -10px -10px;
    }
}
nav{
    height:60px;
}
.navLog{
    float:left;
    margin-left: 50px;
}
.navLog img{
    height: 60px;
}
nav ul{
    text-align: center;
}
nav li{
    display:inline;
    padding: 0 40px;
}
nav li a{
    color:#fff;
    font:bold 16px/60px "微软雅黑";
}
nav li a:hover{
    color:#3fd99e;
}
#banner {
    width: 100%;
    height: 500px;
    diplay:table;
    margin-bottom: 60px;
    background: url(images/bg1.jpg) no-repeat center;
}
#banner .center{
    text-align: center;
    display:table-cell;
    vertical-align: middle;
}
#banner p{
    font:26px/45px "微软雅黑";
    color:#fff;
}
#banner p:nth-of-type(2){
    font-size:20px;
}
#banner .text{
    position: relative;
    display:flex;
    /* justify-content: center; */
    justify-content: space-between;
    margin: 0 auto;
    opacity: 0;
    width: 100%;
}
#banner .text div{
    font-family: 'LH';
    font-size:56px;
    transition:.1s;
}
#banner .text div:nth-child(1){
    text-align: left;
    transform-origin:right;
    direction:rtl;
    unicode-bidi:bidi-override;
}
#banner .text div:nth-child(2){
    text-align: center; 
    transform-origin:left;
}
#banner .text div:first-letter{
    font-size:100px;
}
@font-face{
    font-family: 'LH';
    src:url('fonts/qtzzgfylhg.eot') format('embedded-opentype'),
        url('fonts/qtzzgfylhg.woff') format('woff');
}
.btn a{
    width: 100px;
    font:18px/44px "微软雅黑";
    color:#fff;
    display:inline-block;
    text-align: center;
    margin: 0 15px;
    background:#036a2f;
    animation:5s colorChange infinite;
}
@keyframes colorChange{
    0%{
        background:#84050e;
    }
    50%{
        background:#036a2f;
    }
    100%{
        background:#b60020;
    }
}
@keyframes left{
    5%{
        transform:scaleX(0.2);
    }
    30%{
        transform:scaleX(0.8) translateX(-150px);
    }
    70%{
        transform:translateX(-20px);
    }
}
@keyframes right{
    5%{
        transform:translateX(0.2);
    }
    10%{
        transform:scaleX(0.8) translateX(-150px);
    }
    50%{
        transform:translateX(0);
    }
    70%{
        transform:translateX(20px);
    }
}
