<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>微金所</title>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.min.js"></script>
    <script src="lib/respond/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<!--顶部通栏-->
<header class="wjs_topBar hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="#" class="wjs_app">
                    <span class="wjs_icon wjs_icon_phone"></span>
                    <span>手机微金所</span>
                    <span class="glyphicon glyphicon-menu-down"></span>
                    <img src="images/code.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <span class="wjs_icon wjs_icon_tel"></span>
                <span> 4006-89-4006（服务时间：9:00-21:00）</span>
            </div>
            <div class="col-md-2">
                <a href="#">常见问题</a>
                <a href="#">财富登录</a>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn btn-default btn-register">免费注册</a>
                <a href="#" class="btn btn-link btn-login">登录</a>
            </div>
        </div>
    </div>
</header>
<!--导航栏-->
<nav class="navbar wjs_nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="wjs_icon wjs_icon_logo"></span>
                <span class="wjs_icon wjs_icon_name"></span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">我要投资</a></li>
                <li><a href="#">我要借贷</a></li>
                <li><a href="#">平台介绍</a></li>
                <li><a href="#">新手专区</a></li>
                <li><a href="#">最新动态</a></li>
                <li><a href="#">微平台</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li><a href="#">个人中心</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--轮播图-->
<section class="wjs_banner">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators">

        </ol>
        <div class="carousel-inner">

        </div>
        <a class="left carousel-control" href="#carousel-example-generic"  data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</section>
<!--信息-->
<section class="wjs_info hidden-xs">
    <div class="container">
        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="media">
                    <div class="media-left"><span class="wjs_icon wjs_icon_dollar"></span></div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="media">
                    <div class="media-left"><span class="wjs_icon wjs_icon_dollar"></span></div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="media">
                    <div class="media-left"><span class="wjs_icon wjs_icon_dollar"></span></div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="media">
                    <div class="media-left"><span class="wjs_icon wjs_icon_dollar"></span></div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="media">
                    <div class="media-left"><span class="wjs_icon wjs_icon_dollar"></span></div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="#">
                <div class="media">
                    <div class="media-left"><span class="wjs_icon wjs_icon_dollar"></span></div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<!--预约-->
<section class="wjs_book">
    <div class="container">
        <div class="pull-left">
            <span class="wjs_icon wjs_icon_clock"></span>
            现在有 273 人在排队，累计预约交易成功 7571 次。 什么是预约投标？
            <a class="book" href="#">立即预约</a>
        </div>
        <div class="pull-right hidden-xs">
            <a class="video" href="#"><span class="wjs_icon wjs_icon_video"></span> 微金所企业宣传片</a>
        </div>
    </div>
</section>
<!--产品-->
<section class="wjs_product"></section>
<!--新闻-->
<section class="wjs_news"></section>
<!--合作伙伴-->
<footer class="wjs_partner"></footer>
<!--使用模版引擎-->
<script type="text/template" id="pointTemplate">
    <% for(var i = 0 ; i < list.length ; i ++){ %>
        <li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="<%=i==0?'active':''%>"></li>
    <% } %>
</script>
<script type="text/template" id="imageTemplate">
    <% for(var i = 0 ; i < list.length ; i ++){ %>
    <div class="item <%=i==0?'active':''%>">
        <% if(isMobile){ %>
        <a href="#" class="m_imgBox"><img src="<%=list[i].mUrl%>" alt=""></a>
        <% }else{ %>
        <a href="#" class="pc_imgBox" style="background-image: url(<%=list[i].pcUrl%>)"></a>
        <% } %>
    </div>
    <% } %>
</script>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/artTemplate/template-native.js"></script>
<script src="js/index.js"></script>
</body>
</html>