*{
    margin: 0;
    padding: 0;
}
body,html{
    background: #007fd5;
    width: 100%;
    height: 100%;
}
.sky{
    position:relative;
    height: 100%;
    overflow:hidden;
}
.sky .cloud_one{
    width: 300%;
    background-image: url('images/cloud_one.png');
    height: 100%;
    position:absolute;
}
.sky .cloud_two{
    width: 300%;
    height: 100%;
    background-image: url('images/cloud_two.png');
}
.sky .cloud_three{
    position:absolute;
    width: 300%;
    height: 100%;
    background-image: url('images/cloud_three.png');
}